{% if result['PREVIEW_PICTURE']['SIZES']['mini']['src'] is defined %}
	<div class="detail__product-testimonials-img">
		<a href="{{ result['DETAIL_PAGE_URL'] }}">
			<img src="{{ result['PREVIEW_PICTURE']['SIZES']['mini']['src'] }}" alt="{{ result['NAME'] }}">
		</a>
	</div>
{% endif %}
{% if result['PROPERTIES']['COMPANY_NAME']['VALUE'] %}
	<div class="detail__product-testimonials-pretitle">{{ result['PROPERTIES']['COMPANY_NAME']['VALUE'] }}</div>
{% endif %}
<div class="detail__product-testimonials-header">
	<a href="{{ result['DETAIL_PAGE_URL'] }}">{{ result['NAME'] }}</a>
</div>
<div class="detail__product-testimonials-text">{{ result['PREVIEW_TEXT'] }}</div>