<div class="top-cart top-cart__notempty {{ (result['COUNT'] == 0)?'top-cart__hidden':'' }}">
	<div class="top-cart__icon">
		{% include '/html/inc/svg/cart.html' %}
	</div>
	<div class="top-cart__content">
		<div class="top-cart__content__count">
			<span class="_cartCount">{{ result['COUNT'] }} {{ result['PRODUCT_COUNT_NAME'] }}</span>
			<span class="hidden visible-lg-inline"> на сумму</span>:</div>
		<div class="top-cart__content__price">
			<b class="_cartSumm">{{ result['SUMM_FORMAT'] }}</b>
			<div class="svg-rouble svg-rouble-dims header__rouble-svg"></div>
		</div>
		<div class="top-cart__link hidden-xs">
			<a href="/cart/" class="hidden-lg">Оформить заказ</a>
			<a href="/cart/" class="hidden visible-lg-inline">Перейти к оформлению заказа</a>
		</div>
	</div>
</div>
<div class="top-cart top-cart__empty {{ (result['COUNT'] == 0)?'top-cart__empty__visible':'' }}">
	<div class="top-cart__icon">
		{% include '/html/inc/svg/cart-empty.html' %}
	</div>
	<div class="top-cart__content">
		<div class="top-cart__content__count"><span class="md-dn">В вашей корзине</span> нет товаров</div>
		<div class="top-cart__link">
			<a href="/cart/" class="">Добавить <span class="xs-dn">товары к заказу</span></a>
		</div>
	</div>
</div>
