{% set bredcrumbs = APPLICATION.IncludeComponent('odva:breadcrumbs', '', {
	'LINKS' : [
		{'text' : 'Главная страница','url':'/'},
		{'text' : 'Полезная информация','url':'/information/'},
		{'text' :result['NAME'], },
	]
}) %}
<section class="article-detail">
	<div class="article-container">
		<div class="article-detail__title"> {{ result['NAME'] }} </div>
		<div class="article-detail-content clearfix">
			{% if result['DETAIL_PICTURE']['SIZES']['medium'] is defined %}
			<div class="article-detail__picture">
				<img src="{{ result['DETAIL_PICTURE']['SIZES']['medium']['src'] }}" alt="{{ result['NAME'] }}">
				<div class="article-detail__picture-text">
					<div class="article-detail__picture-text-date">
						{{ result['DATE_FORMAT'] }}
					</div>
					{% if result['SECTION']['NAME'] is defined %}
						<div class="article-detail__picture-text-title">
							{{ result['SECTION']['NAME'] }}
						</div>
					{% endif %}
				</div>
			</div>
			{% endif %}
			{{ result['DETAIL_TEXT'] }}
		</div>
	</div>
</section>