<div class="catalog__left-filter catalog__left-filter__last">
	<div class="filter__title">{{ field['SETTINGS']['heading'] }}</div>
	<div class="filter__block _filterField"
		data-fieldtype="list"
		data-fieldname="{{ fieldName }}"
	>
		{% for fieldItem in field['VALUES'] %}
			<label class="checkbox-label filter-checkbox-label">
				<input type="checkbox" class="checkbox" value="{{ fieldItem['ID'] }}" {{ (fieldItem['SELECTED'] is defined)?'checked':'' }}>
				<span></span>
				{{ fieldItem['NAME'] }}
			</label>
		{% endfor %}
	</div>
</div>